//////////////////////////////////////////////////////////////
/// _layout.scss
//////////////////////////////////////////////////////////////

@use "../foundation/base";

//////////////////////////////////////////////////////////////
/// .l-listPageHeader
.l-listPageHeader {
    &__bar {
        position: relative;
        height: 73px;
        background-color: base.$mainBlue;
        @include base.common_padding;
        z-index: 2;
    }

    &__h1 {
        position: absolute;
        width: 197px;
        left: 50%;
        top: 22px;
        transform: translateX(-50%);
        z-index: 3;

        @include base.mq(tab) {
            width: 277px;
        }
    }

    &__btn {
        padding-top: 11px;
        width: fit-content;
        margin-right: 0;
        margin-left: auto;

        @include base.mq(pc) {
            display: none;
        }
    }

    &__ul {
        display: none;
        max-width: base.$maxWidth;
        margin: 0 auto;
        font-size: base.px_to_rem(20);
        color: white;

        @include base.mq(pc) {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__li:not(:last-of-type) {
            margin-right: 77px;
        }

        &__li:nth-of-type(2) {
            margin-right: 400px;
        }

        @media (hover:hover) {
            &__a:hover {
                color: base.$darkBlue;
            }
        }
    }
}
