//////////////////////////////////////////////////////////////
/// _layout.scss
//////////////////////////////////////////////////////////////

@use "../foundation/base";

//////////////////////////////////////////////////////////////
/// .l-loading
.l-loading {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: base.$mainBlue;
    perspective: 700px;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 4;

    .no-js & {
        opacity: 0;
        visibility: hidden;
    }

    &--hide {
        opacity: 0;
        visibility: hidden;
    }

    &__img {
        display: block;
        width: auto;
        margin-bottom: 10px;
        opacity: 0;
        animation: loading_anim1 2s ease-in-out infinite, loading_anim2 0.1s ease-in-out 0.5s forwards;
    }

    &__p {
        opacity: 0;
        animation: loading_anim2 0.1s ease-in-out 0.5s forwards;
    }

    @keyframes loading_anim1 {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    @keyframes loading_anim2 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}


//////////////////////////////////////////////////////////////
/// .l-header
.l-header {
    &__bar {
        position: relative;
        height: 73px;
        background-color: base.$mainBlue;
        @include base.common_padding;
        z-index: 2;
    }

    &__h1 {
        position: absolute;
        width: 197px;
        left: 50%;
        top: 22px;
        transform: translateX(-50%);
        z-index: 3;

        @include base.mq(tab) {
            width: 277px;
        }
    }

    &__btn {
        padding-top: 11px;
        width: fit-content;
        margin-right: 0;
        margin-left: auto;

        @include base.mq(pc) {
            display: none;
        }
    }

    &__ul {
        display: none;
        max-width: base.$maxWidth;
        margin: 0 auto;
        font-size: base.px_to_rem(20);
        color: white;

        @include base.mq(pc) {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__li:not(:last-of-type) {
            margin-right: 77px;
        }

        &__li:nth-of-type(2) {
            margin-right: 400px;
        }

        @media (hover:hover) {
            &__a:hover {
                color: base.$darkBlue;
            }
        }
    }

    &__hero {
        position: relative;
        height: 64.2vw;
        background-image: url(../img/sp/hero_sp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include base.mq(tab) {
            height: 47vw;
            background-image: url(../img/tab/hero_tab.jpg);
        }

        @include base.mq(pc) {
            height: 30vw;
            background-image: url(../img/hero_pc.jpg);
        }

        &__h2 {
            position: absolute;
            top: 40%;
            left: 23%;
            font-size: 3.8vw;
            letter-spacing: 0.07em;
            color: base.$darkBlue;
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
            text-align: right;

            @include base.mq(tab) {
                font-size: 3vw;
                left: 31%;
            }

            @include base.mq(pc) {
                font-size: 2.4vw;
                top: 32.3%;
                left: 43.5vw;
            }
        }

        &__ctn {
            display: inline-block;
            vertical-align: middle;
        }

        &__img {
            width: 18vw;
            margin-right: -7px;
            transform: translateY(-5%);

            @include base.mq(tab) {
                width: 17vw;
                transform: translateY(-10%);
            }

            @include base.mq(pc) {
                width: 12.5vw;
                transform: translateY(-7%);
            }
        }

        &__span {
            font-size: 5.3vw;
            font-weight: 700;

            @include base.mq(tab) {
                font-size: 4.2vw;
            }

            @include base.mq(tab) {
                font-size: 3.3vw;
            }
        }
    }
}

//////////////////////////////////////////////////////////////
/// .l-menu
.l-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transition: top 0.5s ease;

    &--open {
        top: 0%;
    }

    &__ul {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 42px 0;
        font-size: base.px_to_rem(20);
        color: base.$mainBlue;
    }

    @media (hover:hover) {
        &__a:hover {
            color: base.$darkBlue;
        }
    }
}

//////////////////////////////////////////////////////////////
/// .l-footer
.l-footer {
    margin-top: 184px;
    @include base.common_padding;
    padding: 79px 0 20px;
    background-color: base.$mainBlue;
    color: white;

    &__snsBox {
        height: 35px;
        margin-bottom: 79px;
        display: flex;
        justify-content: center;
        gap: 0 38px;

        @include base.mq(pc) {
            height: 57px;
            gap: 0 62px;
        }

        &__img {
            width: auto;
            height: 100%;
        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 29px 0;
        width: fit-content;
        margin: 0 auto;
        font-size: base.px_to_rem(18);

        @include base.mq(tab) {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            width: 100%;
        }

        @include base.mq(tab) {
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            width: 100%;
            max-width: 754px;
            margin: 0 auto;
        }
    }

    &__p {
        margin-top: 65px;
        font-size: base.px_to_rem(15);
        text-align: center;
    }
}