//////////////////////////////////////////////////////////////
/// _componet.scss
//////////////////////////////////////////////////////////////

@use "../../foundation/base";

//////////////////////////////////////////////////////////////
/// .c-humBtn
.c-humBtn {
    $this: &;

    &__line {
        display: block;
        height: 3px;
        width: 44px;
        background-color: white;
        transition: transform 0.3s ease;
        transform-origin: left;

        #{$this}--open &:nth-of-type(1) {
            transform: translate(6px, 0) rotate(45deg);
        }

        #{$this}--open &:nth-of-type(2) {
            transform: scale(0)
        }

        #{$this}--open &:nth-of-type(3) {
            transform: translate(6px, 3px) rotate(-45deg);
        }
    }

    &__line+&__line {
        margin-top: 11px;
    }

    &__text {
        margin-top: 3px;
        font-weight: 700;
        font-size: base.px_to_rem(12);
        color: white;
        text-align: center;
    }
}

//////////////////////////////////////////////////////////////
/// .c-hDeco
.c-hDeco {
    $this: &;

    &__ctn {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            width: 80px;
            height: 7px;
            top: 50%;
            left: -85px;
            background-image: url(../img/text_deco.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-50%);

            #{$this}--mini & {
                width: 43px;
                height: 4px;
                left: -48px;

                @include base.mq(tab) {
                    width: 175px;
                    height: 16px;
                    left: -180px;
                }
            }

            @include base.mq(tab) {
                width: 175px;
                height: 16px;
                left: -180px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 80px;
            height: 7px;
            top: 50%;
            right: -85px;
            background-image: url(../img/text_deco.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-50%);

            #{$this}--mini & {
                width: 43px;
                height: 4px;
                right: -48px;

                @include base.mq(tab) {
                    width: 175px;
                    height: 16px;
                    right: -180px;
                }
            }

            @include base.mq(tab) {
                width: 175px;
                height: 16px;
                right: -180px;
            }
        }
    }

    &__imgText {
        height: base.px_to_rem(52);
        width: auto;

        @include base.mq(tab) {
            height: base.px_to_rem(72);
        }
    }

    &__p {
        font-size: base.px_to_rem(20);
        color: base.$mainBlue;
        text-align: center;

        @include base.mq(tab) {
            font-size: base.px_to_rem(24);
        }
    }
}

//////////////////////////////////////////////////////////////
/// .c-btn
.c-btn {
    display: block;
    width: fit-content;
    min-width: 294px;
    padding: 18px 37px;
    background-image: radial-gradient(base.$darkBlue 50%, white);
    background-size: 200% 200%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 27px;
    text-align: center;
    font-size: base.px_to_rem(24);
    color: white;
    transition: background-size 0.3s ease;

    @media (hover:hover) {
        &:hover {
            background-size: 100% 100%;
        }
    }
}