//////////////////////////////////////////////////////////////
/// _utility.scss
//////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////
/// .u-textAnime1
.u-textAnime1 {
    $this: &;

    &__eachText {
        opacity: 0;

        #{$this}--do & {
            animation: fade 1s ease forwards;
        }

    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

//////////////////////////////////////////////////////////////
/// .u-textAnime2
.u-textAnime2 {
    $this: &;

    &__eachText {
        display: inline-block;
        opacity: 0;

        #{$this}--do & {
            animation: up_fade 0.7s ease forwards;
        }

    }

    @keyframes up_fade {
        0% {
            opacity: 0;
        }

        40% {
            transform: translateY(-15px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//////////////////////////////////////////////////////////////
/// .u-swayAnime
.u-swayAnime {
    transform-origin: top;

    &--do {
        animation: sway 2s ease-out;
    }

    @keyframes sway {

        0% {
            transform: rotate(0);
        }

        10% {
            transform: rotate(15deg);
        }

        20% {
            transform: rotate(-15deg);
        }

        30% {
            transform: rotate(5deg);
        }

        40% {
            transform: rotate(-5deg);
        }

        50% {
            transform: rotate(3deg);
        }

        60% {
            transform: rotate(-2deg);
        }

        70% {
            transform: rotate(0);
        }
    }
}

//////////////////////////////////////////////////////////////
/// .u-skewAnime
.u-skewAnime {
    $this: &;
    overflow: hidden;

    &__target {
        transition: transform 0.7s ease;
        transform-origin: -50px bottom;
        transform: translateY(45%) skewY(30deg);

        #{$this}--do & {
            transform: skewY(0);
        }

        #{$this}--nojs & {
            transform: skewY(0);
        }
    }
}